<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng_test</title>
</head>
<body  ng-app="myApp">

<div ng-controller="myController">
<table>
  <thead>
    <tr>
      <td>选择</td>
      <td>姓名</td>
      <td>年龄</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in list">
      <td><input ng-click="funcChange()" type="checkbox" ng-model = "obj.isSelected"></td>
      <td>{{obj.name}}</td>
      <td>{{obj.age}}</td>
    </tr>
  </tbody>
</table>

<br/>
<input type="checkbox" ng-checked="select" >全选/取消全选

<br/>


<button ng-click="checkStatus()">查看</button>
</div>

<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', ['ng']);
    app.controller('myController', function ($scope) {

        $scope.list = [
       {name:'lucy', age:27, isSelected:false},
       {name:'lilei', age:28, isSelected:false},

    
        ],


        $scope.funcChange = function () {
      $scope.select = true;
      angular.forEach($scope.list,
        function (value, key) {
          $scope.select = $scope.select&&value.isSelected
        })
      console.log("111",$scope.select)
    }


        $scope.checkStatus = function(){
          var str = '';
          angular.forEach($scope.list, function(value, key){
            if(value.isSelected){
              str += value.name + "被选中"
            }
          })
          if(str === ""){
          str = "都没选中"
        }
        alert(str);
        }
        

        
        

    })
</script>
</body>
</html>